body{
    background-color: #11a6d4;
}
#edit{
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
    background-color: #1992b7;
    width: 765px;
    height: 490px;
    padding: 10px;
    border-radius: 5px;
}
table{
    background-color: #fdfdfd;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow:hidden;
}
#label{
    margin-top:-3px;
    margin-right: -3px;
    margin-left: -3px;
    background-color: gainsboro;
    height: 45px;
    text-align: center;
    font: bold 14px/45px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white;
    box-shadow: 1px 0px 3px black;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}
#input{
    width: 200px;
    height: 35px;
    margin:20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 5px;
}
#input input{
    width:200px;
    height: 35px;
    padding-left: 5px;
    font: 12px sans-serif;
    color:#555555;
    border-radius: 5px;
    border: 1px solid #bfc4c6;
    box-sizing: border-box;
}
#input:hover{
    background-color: #e0f1fc;
}
#input input:hover{
    border-color: #7dc6dd;
}
#button input{
    margin: 25px;
    float: right;
    background-color: #e0f1fc;
    font:bold 12px sans-serif;
    border-radius:20px;
    text-shadow: 0px 1px 0px white;
    border:1px solid #9eb9c3;
    color: #527980;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
::-webkit-input-placeholder {
    color:#555555;
}
#radio{
    background: #f2f5f7;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    margin:20px;
    vertical-align: middle;
    text-align: center;
}
#radio label{
    display:inline-block;
    font: 12px sans-serif;
    color:#555555;
    line-height: 35px;
    width: 70px;
}
#radio:hover{
    background-color: #e0f1fc;
}
#city{
    background-color: #f2f5f7;
    width:200px;
    height: 35px;
    padding: 5px;
    margin:20px;
    border-radius: 5px;
    overflow: hidden;
}
#city:hover{
    background-color: #e0f1fc;
    border-color: #7dc6dd;
}
#city select{
    background: transparent;
    background: rgba(0,0,0,0);
    -webkit-appearance:none;
    height: 35px;
    width: 200px;
    padding-left: 5px;
    font: 12px sans-serif;
    color:#555555;
    border-radius: 5px;
    border: 1px solid #bfc4c6;
    background: white;
}
::-webkit-input-placeholder {
    color:#555555;
}